span{ 
    color: rgb(255, 183, 75);
}
h1{
    text-align: center;
    font-size: 40px;
}
h2{
   
    text-align: center;
    font-size: 30px;
}
h3{
 padding: 25px;
 margin-left: 250px;
font-size: 30px;
}